.footer {
    background-color: #e7c371;
    padding: 20px 0 20px 0;
    margin-top: 0px;
    width: 100%;
}

.footer-content {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
}

.footer-content-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.footer-content-left img {
    width: 180px;
}

.footer-content-left p {
    color: #333;
    font-size: 0.95rem;
    line-height: 1.6;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 14px;
    ;
}

.footer-social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-social-icons img:hover {
    transform: scale(1.1);
}

.footer-content-center h2,
.footer-content-right h2 {
    color: #333;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.footer-content-center ul,
.footer-content-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-content-center li,
.footer-content-right li {
    color: #333;
    font-size: 0.95rem;
    cursor: pointer;
    transition: color 0.2s;
}

.footer-content-center li:hover,
.footer-content-right li:hover {
    color: #000;
    font-weight: 600;
}

.footer hr {
    width: 85%;
    margin: 15px auto;
    border: none;
    height: 2px;
    background-color: black;
}

.footer-copyright {
    text-align: center;
    color: black;
    font-size: 0.9rem;
}

@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
