.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
   
}
.navbar .logo{
    width: max(10%,100px);
}
    .navbar .profile{
        width: 70px;
        border-radius: 50%;
        border: 2px solid #e7c371;
}