@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family : Outfit;
  scroll-behavior : smooth;
}
body{
  min-height : 100vh;
}
a{
  text-decoration : none;
  color : inherit;
}
.App {  
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  background-color:#f1e6cf;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content{
  flex: 1;
}
@keyframes fadeIn{
  from{
    opacity : 0;
  }
  to{
    opacity : 1;
  }

}