.food-display{
    width: 88%;
    margin: 30px auto;
    padding-bottom: 50px;
}
.food-display{
     width: 88%;
     margin: 30px auto 0; 
}
.food-display h2{
    font-size: max(1vw,32px);
    font-weight: 500;
    color: #262626;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 30px;
    gap: 40px;
    row-gap: 50px;
}
